/* styles.css */

/* Reset de estilos */
body, h1, h2, h3, p, ul, li, button {
  margin: 0;
  padding: 0;
}

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #0b79b9;
  color: white;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
}

.search {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.search button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #666;
  color: white;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.menu-list {
  list-style: none;
  position: absolute;
  background-color: white;
  border: 1px solid #017dc5;
  padding: 10px;
  display: none;
}

.menu-list li {
  margin-bottom: 5px;
}

/* Banner */
.banner {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.banner img {
  max-width: 100%;
  height: auto;
}

/* Carrossel */
.carousel-container {
  margin: 20px 0;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 20%;
  padding: 20px;
  text-align: center;
  color: white;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.carousel-controls {
  text-align: center;
  margin-top: 10px;
}

.carousel-control {
  display: inline-block;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

/* Categorias */
.cat {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cat li {
  margin: 0 10px;
}

/* Rodapé */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
